body{
  background-color:#ccffef ;
}

h1{
  color: #ff3399;
}

 h3{
  color: #ff3399;
}

hr{
  background-color:white;
  border-style: none;
  border-top:dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%; 
}
